* {
    font-family: "Oswald", sans-serif;
}

h1 {
    color: #ffffff;
}

.topnav {
    background-color: #355E91;
    overflow: hidden;
    text-align: center;
  }

.chart {
    padding-left: 5rem;
    padding-bottom: 2rem;

}

.dropdown {
    padding-top: 1.5rem;
}
